In [1]:
#Proprietary content. © Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

## Read PDF file with python

In [1]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl.metadata (6.8 kB)
Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
   ---------------------------------------- 0.0/232.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
   ----- --------------------------------- 30.7/232.6 kB 435.7 kB/s eta 0:00:01
   ---------- ---------------------------- 61.4/232.6 kB 544.7 kB/s eta 0:00:01
   ----------------------- -------------- 143.4/232.6 kB 944.1 kB/s eta 0:00:01
   -------------------------------------- - 225.3/232.6 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 232.6/232.6 kB 1.1 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [15]:
# importing required modules 
import PyPDF2 

# creating a pdf file object 
data = open('Introduction+to+natural+language+processing.pdf', 'rb') 

# creating a pdf reader object 
reader = PyPDF2.PdfReader(data) 

# printing number of pages in pdf file 
print(len(reader.pages) )

41

In [16]:
# creating a page object 
page=  reader.pages[1]

In [18]:
# extracting text from page 
print(page.extract_text()) 

# closing the pdf file object 
data.close()

Agenda
Proprietary content. ©Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited● What is Natural language processing ?
● Examples of Natural language processing
● Roadmap to learn natural language processing
● What is python?
○Importance of Python
○Important libraries in Python
● What is data?
● What is data pre -processing?
● Types of data pre -processing
○What is tokenization?
○What is stemming?
○What is lemmatization?○What are stop words?
● Modelling techniques
○What is bag of words?
○What is TF -IDF?
○What is word embedding?
○What is sentiment analysis?
● Project on sentiment analysis

## Working with text file in Python

In [19]:
text_data= open("demo_file.txt", "r")
print(text_data.read())

Welcome to NLP!!!!!!!!!!!!!

## Working with CSV file

In [20]:
import numpy as np
import pandas as pd

In [21]:
data=pd.read_csv("country.csv")

In [22]:
data.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [23]:
data.columns

Index(['Name', 'Code'], dtype='object')

In [24]:
data.shape

(249, 2)

In [25]:
data.describe()

               Name Code
count           249  248
unique          249  248
top     Afghanistan   AF
freq              1    1

In [26]:
data.isnull().sum()

Name    0
Code    1
dtype: int64

In [27]:
data.isnull().any()

Name    False
Code     True
dtype: bool

In [28]:
data_part=data.dropna()

In [29]:
data_part

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[248 rows x 2 columns]

In [30]:
data_part.shape

(248, 2)

## Line tokenization

In [31]:
import nltk
data = "Welcome to Great Learning!! "
tokens = nltk.sent_tokenize(data)
print (tokens)

['Welcome to Great Learning!', '!']

## Word tokenization

In [32]:
tokens = nltk.word_tokenize(data)
print (tokens)

['Welcome', 'to', 'Great', 'Learning', '!', '!']

## Stemming

In [33]:
# import these modules 
from nltk.stem import PorterStemmer 

ps = PorterStemmer() 

# choose some words to be stemmed 
words = ["Like","Liking","Likes"] 

for i in words: 
	print(i, " : ", ps.stem(i))

Like  :  like
Liking  :  like
Likes  :  like

## Lemmatization

In [34]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Anusha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [35]:
# import these modules 
from nltk.stem import WordNetLemmatizer 

lemmati = WordNetLemmatizer() 

print("socks:", lemmati.lemmatize("socks")) 
print("sons:", lemmati.lemmatize("sons"))

socks: sock
sons: son

## Removing stop words

In [46]:
from nltk.corpus import stopwords 
import nltk
nltk.download('stopwords')


new_data = """Data science is one of the most trendind field to work with. It needs data to give prediction by using the past scenarios"""

stop_word = set(stopwords.words('english')) 

#print(stopwords.words() [620:680])

print(stop_word)

{'at', 'being', 'doesn', 'm', "mightn't", 'in', 'up', 'more', 'than', 'out', 'did', 'that', 'of', "weren't", 'don', 'hasn', 'who', 'how', 'any', 'needn', 'and', 'again', 'him', 'couldn', 'we', 'themselves', 'her', 'where', 'these', 'the', 'on', 'both', 't', "mustn't", "you're", 'against', 'too', 'under', "didn't", 'while', 'this', 'between', 'same', 'ourselves', 'isn', 's', 'most', 'aren', 'you', 'if', 'were', 'didn', 'an', 'does', 'had', 'all', 'ain', 'itself', 'which', 'will', "don't", 'i', 'yourself', 'such', 'whom', 'am', 'haven', "doesn't", 'herself', 'below', 'by', 'to', "you've", "should've", 'what', "shan't", "wasn't", 'off', 'yourselves', 'do', 'there', 'are', 'has', 'now', 'hadn', 'me', 'it', 'some', 'be', 'ma', 'very', 'when', "that'll", 'each', "it's", 'should', 'she', 'have', "you'll", 'during', 'wouldn', 'only', 'their', 'himself', 'once', "hadn't", 'his', 'ours', 'them', 'so', "won't", "needn't", 'then', 'few', 'won', 'above', 'further', "she's", 'those', 'weren', "you'd", 'yours', 'as', 'from', 'myself', 'our', 'is', 'he', 'not', 'until', 'shan', 'your', 'here', "aren't", 'into', 'd', 'a', 'for', 'with', 'll', 'other', "isn't", 'o', 'theirs', 'was', 'mightn', 'but', 're', 'or', 'down', 'nor', "haven't", 'no', 've', 'my', 'y', 'after', 'can', 'own', 'its', 'why', 'they', 'about', 'through', 'before', 'hers', "shouldn't", "wouldn't", 'wasn', 'having', 'doing', 'because', "hasn't", 'been', 'just', "couldn't", 'mustn', 'shouldn', 'over'}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Anusha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [49]:
new_data= nltk.word_tokenize(new_data)
print(new_data)

['Data', 'science', 'is', 'one', 'of', 'the', 'most', 'trendind', 'field', 'to', 'work', 'with', '.', 'It', 'needs', 'data', 'to', 'give', 'prediction', 'by', 'using', 'the', 'past', 'scenarios']

In [50]:
stops = set(stopwords.words('english'))

In [51]:
for word in new_data: 
    if word not in stops:
        print(word)

Data
science
one
trendind
field
work
.
It
needs
data
give
prediction
using
past
scenarios